<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <h2>Welcome <%= user.name %></h2>
    <a href="/admin/logout">Logout</a>
    <a href="/admin/changePassword">Change Password</a>
    <a href="/admin/viewEvents">View Events</a>
    <a href="/admin/viewUsers">View Users</a>
    <a href="/admin/viewMembers">View Members</a>
    <a href="/admin/addTask">Add Task</a>
    <hr>
    
    <form id="changepassword">
        <input type="password" id="cpassword" placeholder="current password" required>
        <input type="password" id="npassword" placeholder="new password" required>
        <input type="submit" value="Submit">
    </form>
    <p id="msg"></p>
    <a href="/admin/dashboard"><button>Dashboard</button></a>

    <script>
        document.querySelector('#changepassword').addEventListener('submit',changePassword)

        function changePassword(e){
            e.preventDefault()
            var xhr = new XMLHttpRequest

            xhr.open('POST', '/admin/changePassword',true)
            xhr.setRequestHeader('content-type','application/json')

            let data = JSON.stringify({
                currentPassword : document.querySelector('#cpassword').value,
                newPassword : document.querySelector('#npassword').value
            })

            xhr.onload = function() {
                document.querySelector('#msg').innerHTML = this.responseText
                if(this.status === 200) {
                    document.querySelector('#cpassword').value = ''
                    document.querySelector('#npassword').value = ''
                }
            }

            xhr.send(data)
        }
    </script>
</body>
</html>