<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add task</title>
</head>
<body>
    <h2>Welcome <%= user.name %></h2>
    <a href="/admin/logout">Logout</a>
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/changePassword">Change Password</a>
    <a href="/admin/viewEvents">View Events</a>
    <a href="/admin/viewUsers">View Users</a>
    <a href="/admin/viewMembers">View Members</a>
    <a href="/admin/addTask">Add Task</a>
    <a href="/admin/viewProjects">View Projects</a>
    <hr>
    
    <div>
        <p id="taskMsg"></p>
        <h2 style="text-align: center;">Task for members</h2>

        <form id="addTask">
            <input type="text" placeholder="Task title" id="taskTitle" required>
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" required>
            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" required>
            <div class="phase-group">
                <div class="phase">
                    <input type="text" placeholder="Phase 1" class="phaseTitle" required>
                    <label for="deadline">Till:</label>
                    <input type="date" class="till" required>
                </div>
                <button id="add-phase">Add another phase</button>
            </div>
            <textarea id="taskDescription" placeholder="Enter description here" required></textarea>
            <div id="res-group">
                <input type="text" placeholder="Resource" class="resource" required>
                <button id="add-res">Add another resource</button>
            </div>
            <div id="mem-group">
                <div class="member">
                    <select class="members">
                        <option value="" disabled selected>Select a member</option>

                        <% for(let tdian of data) { %>
                            <option value="<%= tdian._id %>"><%= tdian.name %></option>
                            <% } %>
                    </select>
                    <div class="sub-group">
                    	<input type="text" placeholder="Subtask" class="subtask" required>
                    	<label for="from">From:</label>
                    	<input type="date" class="from" required>
                    	<label for="to">To:</label>
                    	<input type="date" class="to" required>
                    </div>
                    <button class="add-sub">Add another subtask</button>
                </div>
                <button id="add-mem">Add another member</button>
            </div>
            <input type="submit">
        </form>
    </div>

    <script>
        //Adding fields to task form
        document.querySelector('#add-res').addEventListener('click', addRes)
        document.querySelector('#add-phase').addEventListener('click',addPhase)
        document.querySelector('#add-mem').addEventListener('click', addMem)
        document.querySelector('.add-sub').addEventListener('click', addSub)

        function addRes(e){
            e.preventDefault()
            let field = document.createElement('input')
            field.setAttribute('type','text')
            field.setAttribute('class','resource')
            field.setAttribute('placeholder','Resource')
            e.target.parentNode.insertBefore(field,e.target)
        }

        function addMem(e){
            e.preventDefault()
            let field = document.querySelector('.members').cloneNode(true)
            let sub = getSub()
            let subBtn = getSubBtn()
            let memDiv = document.createElement('div')
            memDiv.classList.add('member')
            memDiv.appendChild(field)
            memDiv.appendChild(sub)
            memDiv.appendChild(subBtn)
            e.target.parentNode.insertBefore(memDiv,e.target)
        }
        
        function addSub(e){
            e.preventDefault()
            let sub = getSub()
            e.target.parentNode.insertBefore(sub,e.target)
        }
        
        function getSub(){
            let div = document.createElement('div')
            div.classList.add('sub-group')
            div.innerHTML = `<input type="text" placeholder="Subtask" class="subtask">
                    	<label for="from">From:</label>
                    	<input type="date" class="from">
                    	<label for="to">To:</label>
                    	<input type="date" class="to">`
            return div
        }

        function getSubBtn(){
            let btn = document.querySelector('.add-sub').cloneNode(true)
            btn.addEventListener('click',addSub)
            return btn
        }

        var phase_count = 1
        function addPhase(e){
            e.preventDefault()
            let phase = getPhase()
            e.target.parentNode.insertBefore(phase,e.target)
        }

        function getPhase(){
            let div = document.createElement('div')
            div.classList.add('phase')
            div.innerHTML = `<input type="text" placeholder="Phase ${++phase_count}" class="phaseTitle">
                    <label for="deadline">Till:</label>
                    <input type="date" class="till">`
            return div
        }

        //formatting dates
        function getDate(date){
            return new Date(date).toString().substring(4,15)
        }
        
        //Adding tasks
        document.querySelector('#addTask').addEventListener('submit',addTask)

        async function addTask(e){
            e.preventDefault()

            let members = document.querySelectorAll('.members')
            let resources = document.querySelectorAll('.resource')
            let phases = document.querySelectorAll('.phase')
            let mem_list = []
            let res_list = []
            let phase_list = []
            let subtasks = []

            members.forEach(member => {
                let subs = member.parentNode.querySelectorAll('.sub-group')
                subs.forEach(subtask => {
                    let object = {
                        title: subtask.querySelector('.subtask').value,
                        startDate:getDate(subtask.querySelector('.from').value),
                        endDate:getDate(subtask.querySelector('.to').value),
                        complete:false,
                        member:member.value
                    }
                    subtasks.push(object)
                })
                let obj = {
                    name: member.selectedOptions[0].innerText,
                    id: member.value
                }
                mem_list.push(obj)
            })

            resources.forEach(resource => res_list.push(resource.value))

            phases.forEach(phase => {
                let obj = {
                    title: phase.querySelector('.phaseTitle').value,
                    deadline: getDate(phase.querySelector('.till').value)
                }
                phase_list.push(obj)
            })

            let task = {
                title:document.querySelector('#taskTitle').value,
                startDate:getDate(document.querySelector('#startDate').value),
                deadline:getDate(document.querySelector('#deadline').value),
                description:document.querySelector('#taskDescription').value,
                phases:phase_list,
                members:mem_list,
                resources:res_list,
                subtasks
            }

            let response = await fetch('/admin/addTask',{
                method:'POST',
                headers:{
                    'content-type': 'application/json'
                },
                body:JSON.stringify(task)
            })

            let data = await response.json()

            if(response.status === 200){
                document.querySelector('#taskMsg').innerHTML = data.msg
                console.log(task)
    
                setTimeout(() => {
                    window.location = '/admin/addTask'
                },2000)
            }
        }
    </script>
</body>
</html>