<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add task</title>
</head>
<body>
    <div style="width: 50%;">
        <p id="taskMsg"></p>
        <h2 style="text-align: center;">Task for members</h2>

        <form id="addTask">
            <input type="text" placeholder="Task title" id="taskTitle" required>
            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" required>
            <textarea id="taskDescription" placeholder="Enter description here" required></textarea>
            <div id="res-group">
                <input type="text" placeholder="Resource 1" class="resource" required>
                <button id="add-res">Add another resource</button>
            </div>
            <div id="sub-group">
                <input type="text" placeholder="Subtask 1" class="subtask" required>
                <button id="add-sub">Add another subtasks</button>
            </div>
            <div id="mem-group">
                <select class="member">
                    <% for(let tdian of data) { %>
                        <option value="<%= tdian._id %>"><%= tdian.name %></option>
                    <% } %>
                </select>
                <button id="add-mem">Add another member</button>
            </div>
            <input type="submit">
        </form>
    </div>

    <script>
        //Adding fields to task form
        document.querySelector('#add-res').addEventListener('click', addRes)
        document.querySelector('#add-mem').addEventListener('click', addMem)
        document.querySelector('#add-sub').addEventListener('click', addSub)
        var resCount = 1;
        var memCount = 1;
        var subCount = 1;

        function addRes(e){
            e.preventDefault()
            let field = document.createElement('input')
            field.setAttribute('type','text')
            field.setAttribute('class','resource')
            field.setAttribute('placeholder','Resource '+(++resCount))
            field.setAttribute('required','')
            document.querySelector('#res-group').insertBefore(field,document.querySelector('#add-res'))
        }

        function addMem(e){
            e.preventDefault()
            let field = document.querySelector('.member').cloneNode(true)
            document.querySelector('#mem-group').insertBefore(field,document.querySelector('#add-mem'))
        }
        
        function addSub(e){
            e.preventDefault()
            let field = document.createElement('input')
            field.setAttribute('type','text')
            field.setAttribute('class','subtask')
            field.setAttribute('placeholder','Subtask '+(++subCount))
            field.setAttribute('required','')
            document.querySelector('#sub-group').insertBefore(field,document.querySelector('#add-sub'))
        }

        //Adding tasks
        document.querySelector('#addTask').addEventListener('submit',addTask)

        async function addTask(e){
            e.preventDefault()

            let members = document.querySelectorAll('.member')
            let resources = document.querySelectorAll('.resource')
            let subtasks = document.querySelectorAll('.subtask')
            let mem_list = []
            let res_list = []
            let sub_list = []

            members.forEach(member => {
                let obj = {
                    name: member.selectedOptions[0].innerText,
                    id: member.value
                }
                mem_list.push(obj)
            })
            resources.forEach(resource => res_list.push(resource.value))
            subtasks.forEach(subtask => {
                let obj = {
                    title: subtask.value,
                    status:0
                }
                sub_list.push(obj)
            })

            let task = JSON.stringify({
                title:document.querySelector('#taskTitle').value,
                deadline:document.querySelector('#deadline').value,
                description:document.querySelector('#taskDescription').value,
                subtasks:sub_list,
                members:mem_list,
                resources:res_list
            })

            let response = await fetch('/admin/addTask',{
                method:'POST',
                headers:{
                    'content-type': 'application/json'
                },
                body:task
            })

            let data = await response.json()

            document.querySelector('#taskMsg').innerHTML = data.msg

            console.log(task)
        }
    </script>
</body>
</html>