<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="<%=id%>">
        <form id="changepassword">
            <input id="password" type="password" name="password" placeholder="Enter new password">
            <button type="submit">Submit</button>
            <p id="message"></p>
        </form>
    </div>
    <script>
        let changePassword = document.getElementById('changepassword')
        changePassword.addEventListener('submit', submitForm)

        async function submitForm(e){
            e.preventDefault()

            let id = e.target.parentNode.id
            let newPassword = document.getElementById('password').value

            let info = {
                id,
                newPassword            
            }    

            console.log("id and password", info)

            let response = await fetch('/changepassword',{
                method:'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(info)
            })  

            let data = await response.json()
            if(response.status===200)
            {
                document.getElementById('message').innerHTML = data.msg
            }

        }
    </script>
    
</body>
</html>