<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry!</title>
    <style>
        body{
            margin:0;
            padding:0;
        }
        div{
            display: flex;
            width: 50%;
            height: 100vh;
            margin: auto;
        }
        h1{
            margin: auto;
            text-align: center;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <h1>Some unknown error has occured<br>Click <a href="/admin/dashboard">here</a> to go back to Dashboard!</h1>
    </div>
</body>
</html>