<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">    
    
    <title>404 page</title>
    <style>
        body{
            font-family: 'Montserrat', sans-serif;
            background-color: #eeeeee;
        }
        .container-404{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container-404 h1
        {
            color: #72E4FE;
        }
        .container-404 h2,
        .container-404 a{
            color: #218EC4;
        }
        .container-404 p{
            color: #A9A9A9;
        }
    </style>
    
</head>
<body >
    <div class="container container-404">
        <h1>Think Digital</h1>
        <lottie-player class="lottie" src="/views/img/404.json"  background="transparent"  speed="1"  style="width: 500px; height: 420px;"  loop autoplay></lottie-player>
        <h2>Ooops.....</h2>
        <p>Looks like you are lost. Return to <a href="/login">Login Page</a></p>

    </div>

    
</body>
</html>