<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <title>Document</title>
    <style>
        *:focus {
            outline: 0 !important;
        }
        body{
            background-color: #ffffff;
            overflow: hidden;
            font-family: 'Montserrat', sans-serif;
        }
        .cp-container{
            height: 100vh;
            width: 100vw;
        }
        .cp-row{
            height: 100vh;
        }
        .cp-animation{
            background-color: #72E4FE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .fp-animation{
            background-color: #72E4FE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .lottie{
            height: 400px;
            width: 400px;
        }
        @media(max-width: 600px){
            .lottie{
                height: 240px;
                height: 240px;
            }
            .fp-animation{
                height: 40vh;
                margin-bottom: -30%;
            }
        }
        .cp-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .cp-form h2{
            color:#218EC4;
        }
        .cp-form p{
            color:#72E4FE;
        }
        #changepassword input{
            border: none;
            border-bottom: 2px solid #72E4FE ;
        }
        #spinner{
            display: none;
        }
        #changepassword button{
            border: none;
            background-color: #72E4FE;
            color: #ffffff;
            border-radius: 24px;
            padding: 4px 12px;
            cursor: pointer;
        }
        .spinner-border{
            display: none;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="cp-container">
        <div class="row cp-row">
            <div class="col-lg-6 cp-animation">
                <lottie-player class="lottie" src="/img/forgot-password-animation.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop autoplay></lottie-player>
            </div>
            <div class="col-lg-6 cp-form">
                <div id="<%=id%>">
                    <h2>Enter new password</h2>
                    <form id="changepassword">
                        <input id="password" type="password" name="password" placeholder="Password"><br><br>
                        
                        <button type="submit">Submit</button>
                        <div id="spinner" class="spinner-border" role="status" style="color: #72E4FE;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p id="message"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let changePassword = document.getElementById('changepassword')
        changePassword.addEventListener('submit', submitForm)
        spinner = document.getElementById('spinner')

        async function submitForm(e){
            e.preventDefault()

            spinner.style.display = 'block'

            let id = e.target.parentNode.id
            let newPassword = document.getElementById('password').value

            let info = {
                id,
                newPassword            
            }

            let response = await fetch('/user/changepassword',{
                method:'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(info)
            })  

            let data = await response.json()
            if(response.status===200)
            {
                document.getElementById('message').innerHTML = `Password has been changed successfully! Click <a href="/user/login">here</a> to Login`;
            }
            spinner.style.display = 'none'
        }
    </script>
    
</body>
</html>