<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body style="background-color:#218EC4; width: 100vw;">
    <!-- container table -->
    <table width=40% align="center" cellspacing=0 cellpadding=0 border=0 style="background-color: white; text-align: center;"> 
        <!-- header -->
        <tr>
            <td>
                <table width=100%>
                    <tr>
                        <td><h1 style="font-family: serif; font-weight: 700; font-size: 32px;color: #72E4FE;;border-bottom: 1px solid #c5c9d0; padding-bottom:2%; margin-left:5%;margin-right:5%">Welcome to Think Digital</h1></td>
                    </tr>
                </table>
                <!-- text -->
                <table width="100%" cellspacing=0 cellpadding=0 border=0 style="font-family: 'Open Sans', sans-serif;color: #22364e; text-align: center;" >
                    <tr>
                        <td>
                            <img src="../img/reg-email.png" style="height:200px; width:250px;">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <h3 style="font-weight: 600;font-size: 22px; margin-left: 5%; ">Hi,</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 16px;letter-spacing: -0.14px; margin-left: 5%; ">Thank you for showing interest in Think Digital!</p>
                            <p style="font-size: 16px;letter-spacing: -0.14px; margin-left: 5%; ">Click the button below to verify you email.</p><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="${link}" style="color: #eeeeee ;text-decoration: none;">
                                <button style="font-size: 16px;letter-spacing: -0.14px; margin:0 0 5% 5%;background-color: #72E4FE;color: #ffffff;border-radius: 24px;padding: 8px 16px;border: none;">Verify email</button><br>
                            </a>
                        </td>
                    </tr>
                </table>
                
                <!-- footer -->
                
                <table width="100%" cellspacing=0 cellpadding=0 border=0 style="background-color: #eeeeee!important; z-index: 1;  padding-top: 2%; color: #22364e;">
                    <tr style="text-align: center;">
                        <td>
                                <ul class="footer-icon-bar" style="margin-left:-10%;">
                                    <li class="icons" style="display: inline; padding: 2%;"><a href="https://www.facebook.com/teamTD/" target="_blank" style="color: #72E4FE;"><i class="fa fa-facebook"></i></a> </li>
                                    <li class="icons" style="display: inline;padding: 2%;"><a href="https://www.youtube.com/channel/UC38Rh8mw5OgKQQywPRfCwsg" target="_blank" style="color:#72E4FE"><i class="fa fa-youtube-play"></i></a> </li>
                                    <li class="icons" style="display: inline;padding: 2%;"><a href="https://www.linkedin.com/school/think_digital/" target="_blank" style="color: #72E4FE"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="icons" style="display: inline;padding: 2%;"><a href="https://www.instagram.com/thinkdigital.td_srm/" target="_blank" style="color: #72E4FE"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                                <p class="address" style="font-size: 12px;">SRM Institute of Science &amp; Technology,<br> Kattankulathur,<br>Tamil Nadu - 603-203</p>
                                <p style="font-size: 12px;" ><a href="tel:+918617362801" style="color: #22364e; text-decoration: none;">8617362801</a><br>
                                <a href="tel:+918428367716" style="color: #22364e; text-decoration: none;">8428367716</a><br>
                                <a class="td-email" href="mailto:thinkdigital.td@gmail.com" style="color: #22364e; text-decoration: none;">thinkdigital.td@gmail.com</a>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                
            </td>
        </tr>
    </table>
    
</body>
</html>

