<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <style>
        body{
            background-color: #ffffff;
            overflow: hidden;
            font-family: 'Montserrat', sans-serif;
        }
        .fp-container{
            height: 100vh;
            width: 100vw;
        }
        .fp-row{
            height: 100vh;
        }
        .fp-animation{
            background-color: #72E4FE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .lottie{
            height: 400px;
            width: 400px;
        }
        @media(max-width: 600px){
            .lottie{
                height: 240px;
                height: 240px;
            }
            .fp-animation{
                height: 40vh;
                margin-bottom: -30%;
            }
        }
        .fp-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .fp-form h2{
            color:#218EC4;
        }
        .fp-form p{
            color:#72E4FE;
        }
        #fp-form input{
            border: none;
            border-bottom: 2px solid #72E4FE ;
        }
        #fp-form button{
            border: none;
            background-color: #72E4FE;
            color: #ffffff;
            border-radius: 24px;
            padding: 4px 12px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="fp-container">
        <div class="row fp-row">
            <div class="col-lg-6 col-xs-12 fp-animation">
                <lottie-player class="lottie" src="/img/forgot-password-animation.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
            </div>
            <div class="col-lg-6 col-xs-12 fp-form">
                <h2>Forgot Password?</h2>
                <form id="fp-form">
                    <input id="email" type="email" name="email" placeholder="enter email" name="email"><br><br>
                    <button type="submit">Submit</button>
                    <p id="message"></p>
                </form>
                <p>An email will be sent to you with a link to reset your password</p>
                <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

            </div>
        </div>
    </div>
    <script>
        let form = document.getElementById('fp-form')
        form.addEventListener('submit', submitForm)

        async function submitForm(e){
            e.preventDefault()
            document.getElementById('message').innerHTML = ''

            let email = document.getElementById('email').value

            let info = {
                email
            }
            let response = await fetch('/user/forgotpassword',{
                method:'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(info)
            })
            let data = await response.json()
            if(response.status===200)
                document.getElementById('message').innerHTML = data.msg
        }
        
            
    </script>
    
</body>
</html>