<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Forgot Password?</p>
    <p>An email will be sent to you with a link to reset your password</p>
    <form id="form">
        <input id="email" type="email" name="email" placeholder="enter email" name="email">
        <button type="submit">Submit</button>
        <p id="message"></p>
    </form>
    
    <script>
        let form = document.getElementById('form')
        form.addEventListener('submit', submitForm)

        async function submitForm(e){
            e.preventDefault()
            document.getElementById('message').innerHTML = ''

            let email = document.getElementById('email').value

            let info = {
                email
            }
            let response = await fetch('/user/forgotpassword',{
                method:'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(info)
            })
            let data = await response.json()
            if(response.status===200) {
                document.getElementById('message').innerHTML = data.msg
            } else {
                document.getElementById('message').style.color = 'red'
                document.getElementById('message').innerHTML = data.msg
            }
        }
        
            
    </script>
    
</body>
</html>