<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="523384873779-e29ttamvfnbfkhb650ppufoas5qmr328.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
    <style>
        *:focus {
            outline: 0 !important;
        }
        body{
            background-color: #ffffff;
            overflow: hidden;
            font-family: 'Montserrat', sans-serif;
        }
        .login-container{
            height: 100vh;
            width: 100vw;
        }
        .login-row{
            height: 100vh;
        }
        .login-animation{
            background-color: #72E4FE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .lottie{
            height: 400px;
            width: 400px;
        }
         @media (max-width: 600px){
            .login-animation{
                height: 30vh;
                margin-bottom: -10%;
            }
            .lottie{
                height: 100px;
                width: 100px;
            }
        }
        .login-form{
            z-index: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .login-form h1{
            color:#26A4E2;
        }
        .login-form span{
            color:#218EC4;
        }
        .login-form h3{
            color:#72E4FE;
        }
        .login-form p{
            color:#A9A9A9;
        }
        .login-form a{
            color:#26A4E2;
        }
        #login-form{
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 8%;
        }
        #login-form input{
            border: none;
            border-bottom: 2px solid #72E4FE ;
        }
        #login-form input::placeholder{
            color:#A9A9A9;
        }
        .login-btn{
            background-color: #72E4FE;
            color: #ffffff;
            border-radius: 24px;
            padding: 4px 12px;
            border: none;
            cursor: pointer;
        }
        .spinner-border{
            display: none;
        }
    </style>
</head>
<body>
    <div class="login-container">

        <div class="row login-row">
            <div class="col-lg-6 col-xs-12 login-animation">
                <lottie-player class="lottie" src="/img/animation.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
                <h1 class="mt-4" style="color: #26A4E2;">Think <span>Digital</span></h1>
            </div>
            
            <div class="col-lg-6 col-xs-12 login-form">
                <h3 class="mt-5">Welcome to TD</h3>
                
                <form id="login-form">
                    <input type="email" placeholder="email" id="email">
                    <input type="password" placeholder="password" id="password">
                    <input class="login-btn" type="submit" value="Login">
                    <div id="spinner" class="spinner-border" role="status" style="color: #72E4FE;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </form>

                
                <form action="/user/userRegister" method="POST" style="display: none;">
                    <input type="text" id="register-token" name="token">
                    <input type="submit" id="register-btn">
                </form>
                <form action="/user/dashboard" method="POST" style="display: none;">
                    <input type="text" id="member-token" name="token">
                    <input type="submit" id="member-btn">
                </form>
                <form action="/user/primaryDash" method="POST" style="display: none;">
                    <input type="text" id="user-token" name="token">
                    <input type="submit" id="user-btn">
                </form>
                <p id="msg" style="color:red"></p>
                <a href="/user/forgotpassword">forgot password?</a>
                
                <p>or</p>
                <div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onSignInFailure"></div>

                
                
                <p>Not regsitered? Register<a href="/user"> Here</a></p>
            </div>
        </div>
    </div>
    

    <script>
        document.getElementById('login-form').addEventListener('submit', submitForm)
        spinner = document.getElementById('spinner')

        async function submitForm(e){
            e.preventDefault()

            spinner.style.display = 'block'
            
            document.querySelector('#msg').innerHTML = ''

            const email = document.querySelector('#email').value
            const password = document.querySelector('#password').value

            let response = await fetch('/user/login', {
                method : 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body:JSON.stringify({email, password})
            })

            let data = await response.json()
            if(response.status === 200){
                localStorage.setItem('token',data.token)
                document.querySelector('#register-token').value = data.token
                document.querySelector('#register-btn').click()
            } else if(response.status === 201){
                localStorage.setItem('token',data.token)
                document.querySelector('#member-token').value = data.token
                document.querySelector('#member-btn').click()
            } else if(response.status === 202){
                localStorage.setItem('token',data.token)
                document.querySelector('#user-token').value = data.token
                document.querySelector('#user-btn').click()
            } else {
                document.querySelector('#msg').innerHTML = data.msg
            }
            spinner.style.display = 'none'
        }
    </script>
</body>
</html>