<html>
<head>
	<title></title>
		<!-- Font Owesome -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<!-- Style Sheet -->
	<link rel="stylesheet" type="text/css" href="css/nav.css">
</head>
<body>
	<div class="container">
		<input type="checkbox" id="chk" name="">
		<label for="chk"><i class="fas fa-bars"></i></label>
		<div class="nav">
			<label for="chk"><i class="fas fa-times"></i></label>
			<img src="logo.jpg">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
	</div>
</body>
</html>