<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="523384873779-e29ttamvfnbfkhb650ppufoas5qmr328.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
    <title>Registration Page</title>

    <style>
        *:focus {
            outline: 0 !important;
        }
        body{
            background-color: #ffffff;
            overflow: hidden;
            font-family: 'Montserrat', sans-serif;
        }
        .reg-container{
            height: 100vh;
            width: 100vw;
        }
        .reg-row{
            height: 100vh;
        }
        .reg-animation{
            background-color: #72E4FE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .lottie{
            height: 400px;
            width: 400px;
        }
         @media (max-width: 600px){
            .reg-animation{
                height: 30vh;
                margin-bottom: -10%;
            }
            .lottie{
                height: 100px;
                width: 100px;
            }
        }
        .reg-form{
            z-index: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .reg-form h6{
            color:#26A4E2;
        }
        .reg-form span{
            color:#218EC4;
        }
        .reg-form h3{
            color:#72E4FE;
        }
        .reg-form p{
            color:#A9A9A9;
        }
        .reg-form a{
            color:#26A4E2;
        }
        #reg-form{
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 8%;
        }
        #reg-form input{
            border: none;
            border-bottom: 2px solid #72E4FE ;
        }
        #reg-form input::placeholder{
            color:#A9A9A9;
        }
        .reg-btn{
            background-color: #72E4FE;
            color: #ffffff;
            border-radius: 24px;
            padding: 4px 12px;
        }
        .spinner-border{
            display: none;
        }
    </style>

</head>
<body>
    <div class="reg-container">
        <div class="row reg-row">
            <div class="col-lg-6 reg-animation">
                <lottie-player class="lottie" src="/img/animation.json"  background="transparent"  speed="1"  loop autoplay></lottie-player>
                <h1 class="mt-4" style="color: #26A4E2;">Think <span>Digital</span></h1>
            </div>

            <div class="col-lg-6 reg-form">
                <h3 class="mt-5">Welcome to TD</h3>
                
                <h6>Register with email</h6>
                <form id="reg-form">
                    
                    <input type="email" name="email" id="email" placeholder="Email">
                    
                    <input type="password" name="password" id="password" placeholder="Password">

                    <div class="g-recaptcha" data-sitekey="6Lfie_kUAAAAACG2c9bShoCfR7ov1Setigc9Q6BH"></div>
                    <p id="captcha-msg"></p>

                    <input class="reg-btn" type="submit">
                    
                    <div id="spinner" class="spinner-border" role="status" style="color: #72E4FE;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </form>
                <h6>Or Sign In with Google</h6>
                <div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onSignInFailure"></div>
                <p id="msg" style="color:red"></p>


                <p>Already regsitered in? Login <a href="/user/login">Here</a></p>
                <a id="#signout" onclick="signOut()" ></a>
                
                <form action="/user/userRegister" method="POST" style="display: none;">
                    <input type="text" id="register-token" name="token">
                    <input type="submit" id="register-btn">
                </form>
                <form action="/user/dashboard" method="POST" style="display: none;">
                    <input type="text" id="member-token" name="token">
                    <input type="submit" id="member-btn">
                </form>
                <form action="/user/primaryDash" method="POST" style="display: none;">
                    <input type="text" id="user-token" name="token">
                    <input type="submit" id="user-btn">
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('reg-form').addEventListener('submit', submitForm)
        var spinner = document.getElementById('spinner')
        async function submitForm(e){
            e.preventDefault()

            spinner.style.display = 'block'

            const email = document.querySelector('#email').value
            const password = document.querySelector('#password').value
            const captcha = document.querySelector('#g-recaptcha-response').value

            let response = await fetch('/user/register', {
                method : 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-type': 'application/json'
                },
                body:JSON.stringify({email, password, captcha})
            })

            let data = await response.json()
            
            if(response.status === 200){
                
                document.querySelector('#captcha-msg').style.color = 'blue'
            } else {
                
                document.querySelector('#captcha-msg').style.color = 'red'
            }
            spinner.style.display = 'none'
            document.querySelector('#captcha-msg').innerHTML = data.msg
        }

        async function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
    
            var id_token = googleUser.getAuthResponse().id_token;

            spinner.style.display = 'block'
    
            let response = await fetch('/user/googleLogIn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id_token})
            })

            let data = await response.json()

            if(response.status === 200){
                localStorage.setItem('token',data.token)
                localStorage.setItem('loginType','google')
                document.querySelector('#register-token').value = data.token
                document.querySelector('#register-btn').click()
            } else if(response.status === 201){
                localStorage.setItem('token',data.token)
                localStorage.setItem('loginType','google')
                document.querySelector('#member-token').value = data.token
                document.querySelector('#member-btn').click()
            } else if(response.status === 202){
                localStorage.setItem('token',data.token)
                localStorage.setItem('loginType','google')
                document.querySelector('#user-token').value = data.token
                document.querySelector('#user-btn').click()
            } else {
                spinner.style.display = 'none'
                document.querySelector('#sign-out').click()
                document.querySelector('#msg').innerHTML = data.msg
            }
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
        function onSignInFailure(){
            document.getElementById('msg').innerHTML = "Sign in Failure"
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>